.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;

  .portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

    h3 {
      margin: 1.2rem 0 2rem;
    }

    .portfolio__image {
      border-radius: 1.5rem;
      overflow: hidden;
    }

    .portfolio__cta {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    &:hover {
      border-color: var(--color-primary-variant);
      background: transparent;
    }
  }
}

/* *************** MEDIA QUERIES (MEDIUM DEVICES) **************** */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* *************** MEDIA QUERIES (SMALL DEVICES) **************** */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;

    h3 {
      text-align: center;
    }

    .portfolio__cta {
      justify-content: space-evenly !important;
      gap: 0 !important;
    }
  }
}