.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  .experience-frontend, .experience-backend {
    background-color: var(--color-bg-variant);
    padding: 2.4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

    h3 {
      text-align: center;
      margin-bottom: 2rem;
      color: var(--color-primary);
    }

    &:hover {
      background-color: transparent;
      border-color: var(--color-primary-variant);
      cursor: default;
    }

    .experience-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
    }

    .experience-detail {
      display: flex;
      gap: 1rem;
    }
    
    .detail-icon {
      margin-top: 6px;
      color: var(--color-primary);
    }
  }
}

/* *************** MEDIA QUERIES (MEDIUM DEVICES) **************** */
@media screen and (max-width: 1024px) {
  .experience-container {
    grid-template-columns: 1fr;
    
    .experience-frontend, .experience-backend {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;

      .experience-content {
        padding: 1rem;
      }
    }
  }
}

/* *************** MEDIA QUERIES (SMALL DEVICES) **************** */
@media screen and (max-width: 600px) {
  .experience-container {
    gap: 1rem;

    .experience-frontend, .experience-backend {
      width: 100%;
      padding: 2rem 1rem; 
    }
  }
}